body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: black !important;
  color: white !important;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

/* navbar */
.navlink {
  text-decoration: none;
}

.ctnm {
  /* background-color: red; */
  padding: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.tvseries {
  border: 2px solid white;
  border-radius: 3px;
  padding: 3px;
}

.movies {
  border: 2px solid white;
  border-radius: 3px;
  padding: 3px;
  /* width: 65px; */
}

.btn-watch {
  border: 0px;
  color: white;
  background-color: #e50914;
  height: 60px;
  width: 300px;
  font-size: 24px;
  font-weight: 700;
}

.btnlogin {
  border: 0px;
  width: 100px;
  height: 30px;
  color: white !important;
  background-color: #e50914 !important;
  font-weight: 700;
  border-radius: 5px;
}

.btnregist {
  border: 0px;
  width: 100px;
  height: 30px;
  color: red;
  background-color: white;
  font-weight: 700;
  border-radius: 5px;
}

/* card styling */
.containerCard {
  position: relative;
  width: 100%;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  transform-style: preserve-3d;
  perspective: 500px;
  margin: auto;
}
.containerCard .box {
  position: relative;
  width: 200px;
  height: 300px;
  background: #000;
  transition: 0.5s;
  transform-style: preserve-3d;
  overflow: hidden;
  margin: 8px;
}
.containerCard:hover .box {
  transform: rotateY(25deg);
}
.containerCard .box:hover ~ .box {
  transform: rotateY(-25deg);
}
.containerCard .box:hover {
  transform: rotateY(0deg) scale(1.25);
  z-index: 1;
  box-shadow: 0 25px 40px rgba(0, 0, 0, 0.5);
}
.containerCard .box .imgBx {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
.containerCard .box .imgBx:before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(180deg, #f00, #000);
  z-index: 1;
  opacity: 0;
  transition: 0.5s;
  mix-blend-mode: multiply;
}
.containerCard .box:hover .imgBx:before {
  opacity: 1;
}
.containerCard .box .imgBx img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.containerCard .box .content {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1;
  display: flex;
  padding: 20px;
  align-items: flex-end;
  box-sizing: border-box;
}
.containerCard .box .content h2 {
  color: #fff;
  transition: 0.5s;
  text-transform: uppercase;
  margin-bottom: 5px;
  font-size: 20px;
  transform: translateY(200px);
  transition-delay: 0.3s;
}
.containerCard .box:hover .content h2 {
  transform: translateY(0px);
}
.containerCard .box .content p {
  color: #fff;
  transition: 0.5s;
  font-size: 14px;
  transform: translateY(200px);
  transition-delay: 0.4s;
}
.containerCard .box:hover .content p {
  transform: translateY(0px);
}

/* modal */
.bg-Modal {
  background-color: #1f1f1f;
  display: flex;
  width: auto;
  height: auto;
}

.form input {
  background: rgba(210, 210, 210, 0.25);
  border: 2px solid #bcbcbc;
  box-sizing: border-box;
  border-radius: 10px;
  width: 100%;
  color: #ffffff;
}

.btn {
  background: red !important;
  border-radius: 5px !important;
  font-style: normal !important;
  font-weight: 700 !important;
  font-size: 18px !important;
  line-height: 25px !important;
  color: #ffffff !important;
}

.warning {
  color: white;
  text-align: center;
}

.btnHere {
  border: 0px;
  background-color: #1f1f1f;
  color: white;
  font-weight: bold;
}
